*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: safira;
  src: url('../fonts/safira.otf');
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: petrona;
}
h1,h2,h3{
  line-height: 1.1;
 
}
h1{
  font-size: clamp(2em, 3em, 3.5em);
  font-family: safira;
  
}
h2{
  font-size: 24px;
}
h3{
  font-size: 32px;
}
p{
  font-size: 18px;
}
a{
  text-decoration: none;
  color: #fff;
}
.margin-left{
  margin-left: 50px;
}
.btn{
  padding: 15px 40px;
  border-radius: 5px;
  font-family: petrona;
  font-size: 16px;
  transition: 0.3s;
  height: 50px;
  width: auto;
}
@media (max-width: 343px){
  .btn{
    padding: 10px 35px;
  }
}
@media (max-width: 320px){
  .btn{
    padding: 5px 25px;
  }
}
.primary-btn{
  border: 1px solid #fff;
  color: #fff;
  background-color: unset;
  
}
.primary-btn:hover{
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}
.primary-btn a:hover{
  color: #000;
  text-decoration: none;
}
.secondary-btn{
  border: none;
  color: #fff;
  background-color: #2D9CDB;
}
.secondary-btn:hover{
  border: 1px solid #2D9CDB;
  background-color: unset;
  transition: 0.3s;
}
a.btn{
  text-decoration: none;
  color: #fff;
}
button{
  color: #fff;
  font-family: petrona;
}
.bold{
  font-weight: bold;
}
.alt-text__color{
  color: #2D9CDB;
  font-weight: 500;
}
.hero-wrapper{
  min-height: 100vh;
  color: #fff;
  background-image: url("../images/background.svg");
  background-size: contain cover;
  background-repeat: no-repeat;
  background-color: #02111D;
  background-position: center center;
}


/*=====NAVIGATION BAR STYLING=====*/

.navbar {
  display: flex;
  padding: 16px;
  font-family: petrona;
  color: white;
  justify-content: space-between;
}
/*@media (min-width: 1300px){
  .navbar{
    margin: 0 10% 0 9%; 
  }
}*/
.navbar-logo{
  width: 70px;
  height: auto;
  margin: 5px 7px;
  margin-left: 40px;

}
.navbar__Items {
  display: flex;
  align-self: center;
  font-size: 18px;
}
.navbar__Items li{
  list-style: none;
  display: inline-block;
}
.navbar__Items li a{
  text-decoration: none;
  color: #fff;
  line-height: 27px;
  transition: 0.3s;
  margin-left: 20px;
}
.navbar__Items li a:hover{
  transition: 0.3s;
  color: #4B61D6;
}

.navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar {
  background-color: #02111d;
  }
  .navbar-logo{
  width: 45px;
  height: auto;
  margin-left: 30px;
}
  .navbar__Items,
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
  }
    
  .navbar__Items {
    display:none;
    margin-left: 0;
  }
  .navbar__Items li{
  display: block;
  } 
  .navbar__ToggleShow {
    display: flex;
    height: auto;
    padding-bottom: 20px;
    transition: 0.3s;
  }
    
  .navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
  } 
}
@media (min-width: 770px){
  .navbar__Items {
    margin-right: 60px;
  }
}
/*=====END OF NAVIGATION BAR STYLING=====*/


/*=====LANDING PAGE HERO SECTION STYLING=====*/
.landing-hero-section{
  display: flex;
  justify-content: space-around;
}
.landing-hero-section .landing-hero-section__title{
  text-align: left;
  max-width: 550px;
  margin: 120px 0 0 0px;
  padding: 0 15px;
}
.landing-hero-section .landing-hero-section__title h1{
    max-width: 300px;
    margin-bottom: 24px;
  }
.landing-hero-section .landing-hero-section__title p{
    margin-bottom: 24px;
  }
  .landing-hero-section .landing-hero-section__title a{
    font-weight: bold;
    font-size: 24px;
  }
@media (max-width: 1000px){
  .landing-hero-section .landing-hero-section__title h1{
    font-size: 40px;
  }
}
@media (max-width: 600px){
  .landing-hero-section .landing-hero-section__title{   
    margin: 100px 0 20px 0px;
  }
  .landing-hero-section .landing-hero-section__title p{
    line-height: 1.25;
  }
}
@media (max-width: 360px){
  .landing-hero-section .landing-hero-section__title{
    margin: 80px 0 20px 0px;
  }
}
/*=====END OF LANDING HERO SECTION STYLING=====*/
.body-wrapper{
  background-color: #02111D;
  height: 100%;
}
.padding-wrapper{
  padding: 0 85px;
}
@media (min-width: 1300px){
  .padding-wrapper{
    margin: 0 10% 0 10%;
  }
}
@media (max-width: 1004px){
  .padding-wrapper{
    padding: 0 50px;
  }
}
@media (max-width: 360px){
  .padding-wrapper{
    padding: 0 30px;
  }
}
/*=====HOME PAGE HERO SECTION STYLING=====*/
.hero-section{
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
   
}
@media (min-width: 1300px){
  .hero-section{
    margin: 0 12% 0 13%;
  }
}

.hero-section .hero-section__description{
  text-align: left;
  width: 50%;
  padding: 0 15px;
}
.hero-section  .hero-section__image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (min-width: 1300px){
  .hero-section .hero-section__image{
    margin-right: 13%;
  }
}
.hero-section .hero-section__description h1{
    margin-bottom: 24px;
  }
.hero-section .hero-section__description p{
    margin-bottom: 24px;
  }
  .hero-section .hero-section__title a{
    font-weight: bold;
    font-size: 24px;
  }
.hero-section .hero-section__description .hero-btn{
    margin-left: 24px;
}
@media (max-width: 1024px){
  .hero-section .hero-section__description .hero-btn{
    margin: 12px 0px 0px 0px;
}
  .hero-section .hero-section__description h1{
    font-size: 40px;
  }
}
@media (max-width: 700px){
  .hero-section{
    flex-direction: column;
    margin: 0 48px 0 48px;
  }
  .hero-section .hero-section__description{   
    width: 100%;
  }
  .hero-section  .hero-section__image{
    margin-top: 48px;
    width: 100%;
  }
  .hero-section .hero-section__description p{
    line-height: 1.25;
  }
  .hero-section .hero-section__description .hero-btn{
    margin-left: 12px;
  }
}
@media (max-width: 593px){
  .hero-section .hero-section__description .hero-btn{
    margin-left: 0;
    margin-top: 30px;
  }
}
@media (max-width: 415px){
  .hero-section{
    margin: 0 24px 0 24px;
  }
  .hero-section .hero-section__description p{
    font-size: 16px;
  }
}
@media (max-width: 365px){
  .hero-section{
    margin: 0 12px 0 12px;
  }
}
@media (max-width: 343px){
  .hero-section{
    margin: 0 12px 0 12px;
  }
}

/*=====END OF HOMEPAGE HERO SECTION STYLING=====*/


/*=====PROJECT SECTION STYLING=====*/
.projects-section{
  margin: 60px 0 24px 0;
  color: #fff;
   
}
@media (min-width: 1300px){
  .projects-section{
    margin-top: 90px;
  }
}
.project-container{
  display: flex;
  width: 100%;
  margin-top: 48px;
}
.project-container__image{
  width: 50%;
}
.project-container__image img{
  width: 80%;
  height: auto;
}
.project-container__description{
  width: 50%;
  max-width: 600px;
}
.project-container__description h2, p{
  margin-bottom: 12px;
}
.project-container__description .tags-wrapper{
  margin: 20px 0;
}
.project-container__description .tags-wrapper li{
  display: inline-block;
  text-decoration: none;
  margin: 0 12px 8px 0;
  background-color: #d3d3d3;
  padding: 8px 12px;
  border-radius: 18px;
  color: #000;
  font-size: 14px;
}
@media (max-width: 1000px){
  .project-container__image{
    margin-right: 24px;
  }
  .project-container__image img{
    width: 100%;
    height: auto;
  }

}
@media (max-width: 850px){
  .project-container__description .tags-wrapper li{
    margin: 0 12px 8px 0;
    font-size: 12px;
  }
}
@media (max-width: 760px){
  .project-container{
    flex-direction: column;
  }
  .project-container__image{
    width: 100%;
  }
  .project-container__image img{
    width: 100%;
    height: auto;
  }
  .project-container__description{
    width: 100%;
    margin-top: 24px;
  }

}
/*=====END OF PROJECT SECTION STYLING=====*/


/*=====SERVICES SECTION STYLING=====*/
.service-section{
  margin: 60px 0 24px 0;
  color: #fff;
}
.service-lists__container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}
.service-lists__container .service-lists__item{
  margin-top: 24px;
}
.service-lists__item .service-list__description h4{
  color: #2D9CDB;
  margin: 12px 0 8px 0;
}
.service-lists__container .margin-left{
  margin-left: 12px;
}

@media (max-width: 1168px){
  .service-lists__container{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media (max-width: 1068px){
  .service-lists__container{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
@media (max-width: 689px){
  .service-lists__container .margin-left{
    margin-left: 0;
  }
}
@media (max-width: 556px){
  .service-lists__container{
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
/*=====END OF SERVICES SECTION STYLING=====*/


/*=====PROCESS SECTION STYLING=====*/
.process-section{
  margin-top: 60px;
}
.process-section>h2{
  color: #fff;
  text-transform: uppercase;
}
.process-lists-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1440px;
}
.process-section .process-container{
  background-color: #fff;
  padding: 24px;
  text-align: center;
  width: 180px;
  height: auto;
  border-radius: 5px;
  margin: 24px 12px 0 0;
}
.process-section .process-container h2{
  margin-bottom: 12px;
}
/*=====END OF PROCESS SECTION STYLING=====*/

/*=====HOMEPAGE CONTACT SECTION STYLING=====*/
.contact-section{
  margin-top: 100px;
  color: #fff;
  width: 80%;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  margin-left: 10%;
}
.contact-section .contact-img{
  width: 40%;
}
.contact-section .contact-img img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.contact-section .contact-details{
  width: 60%;
  background-color: #040406;
  padding: 50px 36px;
  height: 100%;
  z-index: 1;
  transform: translateX(-2em);
  border-radius: 8px;
}
@media (min-width: 1300px){
 .contact-section .contact-img img{
  width: 110%;
 }
  .contact-section .contact-details{
    width: 70%;

  }
}
.contact-section .contact-details h2, p{
  margin-bottom: 24px;
}
.contact-section .contact-details p{
  margin-bottom: 30px;
}
.contact-details__cta .secondary-btn{
  margin-left: 12px;
}
@media (max-width: 1172px){
  .contact-section{
    width: 90%;
    margin-left: 6%;
  }
}
@media (max-width: 1060px){
  .contact-section{
    width: 100%;
    justify-content: center;
    margin-left: unset;
  }
}
@media (max-width: 1060px){
  .contact-section .contact-img{
    width: 30%;
  }
  .contact-section .contact-details{
    width: 70%;
  }
}
@media (max-width: 789px){
  .contact-section{
    flex-direction: column;
  }
  .contact-section .contact-img{
    width: 100%;
  }
  .contact-section .contact-details{
    width: 100%;
    transform: translateX(0);
  }
  .contact-section .contact-details .secondary-btn{
    margin-left: 8px;
  }
}
@media (max-width: 588px){
  .contact-section .contact-details__cta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-section .contact-details .secondary-btn{
    margin-left: unset;
    margin-top: 12px;
  }
 
}
@media (max-width: 375px){
   .contact-details__cta .primary-btn, .secondary-btn{
    padding: 14px 25px;
   }
}
/*=====END OF HOMEPAGE CONTACT SECTION STYLING=====*/


/*=====ABOUT PAGE STYLING=====*/
.about-description{
  color: #fff;
   
}
.about-description h1{
  margin: 48px 0 36px 0;
}

.communities-section{
  margin-top: 60px;
  color: #fff;
}
.communities-section h2{
  margin-bottom: 24px;
}
.communities-section .communities-list{
  position: relative;
  left: 5%;
} 
.communities-section .community{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  border: 1px solid #fff;
  padding: 12px;
  height: 100%;
  margin-bottom: 24px;
}
.communities-section .community .logo-container{
  width: 20%;
}
.communities-section .community span{
  width: 30%;
  font-weight: 800;
}
.communities-section .community p{
  width: 50%;
  margin-top: 24px;
}


.container {
  position: relative;
  height: auto;
  border-top: 0;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label {
/*  background: #e4e3df;*/
  display: block;
  width: 80%;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: top .40s cubic-bezier(.44, .99, .48, 1);
}

label:before,
label:after {
  position: absolute;
}

label:before {
  content: 'View more tools';
  left: 10px;
}

label:after {
  content: '⇣●';
  right: 10px;
  -webkit-animation: sudo .85s linear infinite alternate;
  animation: sudo .85s linear infinite alternate;
}

@keyframes sudo {
  from {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  to {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}

input[type="checkbox"] ~ article {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height .45s cubic-bezier(.44, .99, .48, 1);
}
/* CHECKED STATE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[type="checkbox"]:checked ~ article {
  /**
   * the value of the `max-height` property specifies the transition speed
   * set a very big value (e.g. 9999px) to see the difference
   */
  
  max-height: 100%;
}

[type="checkbox"]:checked + label {
  top: 100%;
}

[type="checkbox"]:checked + label:before {
  content: 'View less tools';
}

[type="checkbox"]:checked + label:after {
  content: '⇡●';
}

article div:last-child {
  margin-bottom: 50px;
}

@media (max-width: 768px){
  .communities-section .community span{
    margin-left: 10px;
  }
}
@media (max-width: 690px){
  .communities-section .communities-list{
    position: unset;
  } 
  .communities-section .community{
    width: 100%;
  }
}
@media (max-width: 580px){
 .communities-section .community{
    flex-direction: column;
    text-align: center;
  }
  .communities-section .community .logo-container{
    width: 100%;
  }
  .communities-section .community .logo-container img{
    width: 50%;
  }
  .communities-section .community span{
    width: 100%;
    margin-top: 24px;
  }
  .communities-section .community p{
    width: 100%;
    margin-top: 24px;
  }
}
/*=====END OF ABOUT PAGE STYLING=====*/

.contact-page{
  color: #fff;
}
.contact-page main{
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 60px;
}
.contact-page__texts{
  text-align: center;
}
.contact-page main .social-links{
  margin-bottom: 24px;
}
.contact-fields{
  margin-top: 60px;
}
.contact-fields div{
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-fields div label{
  align-self: flex-start;
  margin-left: 10%;
  position: unset;
  margin-bottom: -30px;
  
}
.contact-fields div label:before{
  content: '';
}
.contact-fields div label:after{
  content: '';
}
.contact-fields .text-input{
  width: 80%;
  background-color: #fff;
  padding: 12px;
  line-height: 1.5;
  border: 0px;
  border-radius: 5px;
  font-family: petrona;
  font-size: 16px;
}
.contact-fields .textarea{
  height: 250px;
}
.contact-fields .submit-btn{
  padding: 10px 30px;
  font-size: 16px;
  margin-left: 10%;
}
@media (max-width: 600px){
  .contact-fields .text-input{
    width: 100%;
  }
  .contact-fields div label{
    margin-left: unset;
  }
  .contact-fields .submit-btn{
    margin-left: unset;
  }
}


.thanks-page{
  height: 80vh;
}
.thanks-page main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}
.thanks-page main h1{
  margin-bottom: 24px;
}







.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}