*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: petrona;
}
h1,h2,h3{
  line-height: 1.1;
 
}
h1{
  font-size: clamp(2em, 3em, 3.5em);
  font-family: safira;
  
}
h2{
  font-size: 24px;
}
h3{
  font-size: 32px;
}
p{
  font-size: 18px;
}
a{
  text-decoration: none;
  color: #fff;
}
.margin-left{
  margin-left: 50px;
}
.btn{
  padding: 15px 40px;
  border-radius: 5px;
  font-family: petrona;
  font-size: 16px;
  transition: 0.3s;
  height: 50px;
  width: auto;
}
@media (max-width: 343px){
  .btn{
    padding: 10px 35px;
  }
}
@media (max-width: 320px){
  .btn{
    padding: 5px 25px;
  }
}
.primary-btn{
  border: 1px solid #fff;
  color: #fff;
  background-color: unset;
  
}
.primary-btn:hover{
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}
.secondary-btn{
  border: none;
  color: #fff;
  background-color: #2D9CDB;
}
.secondary-btn:hover{
  border: 1px solid #2D9CDB;
  background-color: unset;
  transition: 0.3s;
}
a.btn{
  text-decoration: none;
  color: #fff;
}
button{
  color: #fff;
  font-family: petrona;
}
.alt-text__color{
  color: #2D9CDB;
  font-weight: 500;
}
.hero-wrapper{
  min-height: 100vh;
  color: #fff;
  background-image: url("../images/background.svg");
  background-size: contain cover;
  background-repeat: no-repeat;
  background-color: #02111D;
  background-position: center center;
}


/*=====NAVIGATION BAR STYLING=====*/

.navbar {
  display: flex;
  padding: 16px;
  font-family: petrona;
  color: white;
  justify-content: space-around;
}
.navbar-logo{
  width: 70px;
  height: auto;
  margin: 5px 7px;
}
.navbar__Items {
  display: flex;
  align-self: center;
  font-size: 18px;
}
.navbar__Items li{
  list-style: none;
  display: inline-block;
}
.navbar__Items li a{
  text-decoration: none;
  color: #fff;
  line-height: 27px;
  transition: 0.3s;
  margin-left: 20px;
}
.navbar__Items li a:hover{
  transition: 0.3s;
  color: #4B61D6;
}

.navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar {
  background-color: #02111d;
  }
  .navbar-logo{
  width: 45px;
  height: auto;
  margin: 3px 5px;
}
  .navbar__Items,
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
  }
    
  .navbar__Items {
    display:none;
    margin-left: 0;
  }
  .navbar__Items li{
  display: block;
  } 
  .navbar__ToggleShow {
    display: flex;
    height: auto;
    padding-bottom: 20px;
    transition: 0.3s;
  }
    
  .navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
  } 
}
/*=====END OF NAVIGATION BAR STYLING=====*/


/*=====LANDING PAGE HERO SECTION STYLING=====*/
.landing-hero-section{
  display: flex;
  justify-content: space-around;
}
.landing-hero-section .landing-hero-section__title{
  text-align: left;
  max-width: 550px;
  margin: 120px 0 0 0px;
  padding: 0 15px;
}
.landing-hero-section .landing-hero-section__title h1{
    max-width: 300px;
    margin-bottom: 24px;
  }
.landing-hero-section .landing-hero-section__title p{
    margin-bottom: 24px;
  }
  .landing-hero-section .landing-hero-section__title a{
    font-weight: bold;
    font-size: 24px;
  }
@media (max-width: 1000px){
  .landing-hero-section .landing-hero-section__title h1{
    font-size: 40px;
  }
}
@media (max-width: 600px){
  .landing-hero-section .landing-hero-section__title{   
    margin: 100px 0 20px 0px;
  }
  .landing-hero-section .landing-hero-section__title p{
    line-height: 1.25;
  }
}
@media (max-width: 360px){
  .landing-hero-section .landing-hero-section__title{
    margin: 80px 0 20px 0px;
  }
}
/*=====END OF LANDING HERO SECTION STYLING=====*/
.body-wrapper{
  background-color: #02111D;
  height: 100%;
}
/*=====HOME PAGE HERO SECTION STYLING=====*/
.hero-section{
  color: #fff;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
}
.hero-section .hero-section__description{
  text-align: left;
  width: 50%;
  padding: 0 15px;
}
.hero-section  .hero-section__image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.hero-section .hero-section__description h1{
    margin-bottom: 24px;
  }
.hero-section .hero-section__description p{
    margin-bottom: 24px;
  }
  .hero-section .hero-section__title a{
    font-weight: bold;
    font-size: 24px;
  }
.hero-section .hero-section__description .hero-btn{
    margin-left: 24px;
}
@media (max-width: 1020px){
  .hero-section .hero-section__description .hero-btn{
    margin: 12px 0px 0px 0px;
}
  .hero-section .hero-section__description h1{
    font-size: 40px;
  }
}
@media (max-width: 700px){
  .hero-section{
    flex-direction: column;
    margin: 0 48px 0 48px;
  }
  .hero-section .hero-section__description{   
    width: 100%;
  }
  .hero-section  .hero-section__image{
    margin-top: 48px;
    width: 100%;
  }
  .hero-section .hero-section__description p{
    line-height: 1.25;
  }
  .hero-section .hero-section__description .hero-btn{
    margin-left: 12px;
  }
}
@media (max-width: 593px){
  .hero-section .hero-section__description .hero-btn{
    margin-left: 0;
  }
}
@media (max-width: 415px){
  .hero-section{
    margin: 0 24px 0 24px;
  }
  .hero-section .hero-section__description p{
    font-size: 16px;
  }
}
@media (max-width: 365px){
  .hero-section{
    margin: 0 12px 0 12px;
  }
}
@media (max-width: 343px){
  .hero-section{
    margin: 0 12px 0 12px;
  }
}
/*=====END OF HOMEPAGE HERO SECTION STYLING=====*/
.padding-wrapper{
  padding: 0 60px;
}
.projects-section{
  margin: 60px 0 24px 0;
  color: #fff;
}